/* Colours */

/* Background colour: #f9f9f9 */
/* Dark Blue: #003479 */
/* Lightblue: #0d3e80 */
/* Dark green: #39823c */
/* Light green: #dff0d8 */
/* Red: #d43045 */

:root {
  --color-background: #f9f9f9;
  --color-darkblue: #003479;
  --color-lightblue: #0d3e80;
  --color-darkgreen: #39823c;
  --color-lightgreen: #dff0d8;
  --color-red: #d43045;
}

/* Media Queries - sizes below from Bootstrap */

/* xs (for phones - screens less than 768px wide) */
/* sm (for tablets - screens equal to or greater than 768px wide) */
/* md (for small laptops - screens equal to or greater than 992px wide) */
/* lg (for laptops and desktops - screens equal to or greater than 1200px wide) */

/* Font Styles */

@font-face {
    font-family: VisbyCF;
    src: url("../font/VisbyCF-Bold.woff2");
}

@font-face {
    font-family: VisbyCF;
    src: url("../font/VisbyCF-Heavy.woff2");
    font-weight: bold;
}

html {
  font-family: 'VisbyCF', Arial, sans-serif;
  font-size: 10px;
  font-weight: 300;
}

a {
  color: var(--color-darkblue);
  text-decoration: underline;
}

b { font-weight: 700; }

.bold { font-weight: 700; }

.text-white { color: var(--color-background); }

.text-white-large {
  color: var(--color-background);
  font-size: 3rem;
}

.text-strikethrough { text-decoration: line-through;}

.blue-line-top {
  color: var(--color-background);
  border-top: 2px solid var(--color-darkblue);
}

/* Background Colours etc. */

.container-960px {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
}

.container-960px-header {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;
}

.container-sidebar {
  display: flex;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 5;
  max-width: inherit;
  height: 4rem;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid blue;
}

header img {
  max-width: 10rem;
  border: 1px solid red;
}

header .header-items {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid red;
}

header .header-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
}

header .header-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header button {
  margin-left: 1rem;
  padding: 0.7rem 2.5rem;
  background-color: var(--color-red);
  color: var(--color-background);
}

/* MAIN-CONTAINER */

.main-banner {
  background-color: var(--color-darkblue);
  height: 8rem;
  margin-top: 4rem;
}

.main-body {
  z-index: 4;
  position: relative;
  top: -7rem;
}

/* MAIN-BODY-SIDEBAR */

.main-body-sidebar {
  width: 33%;
  margin-right: 2rem;

  border: 1px solid red;
  border-bottom: 1px solid grey;
  background-color: var(--color-background);
}

@media only screen and (max-width: 992px) {
  .main-body-sidebar { display: none; }
}

.main-body-sidebar button {
  width: 100%;
}

.sidebar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 1px solid red;
  transition: 0.4s;
  cursor: pointer;
}

.sidebar-heading:hover {
  background-color: #E5E5E5;
  color: var(--color-darkblue);
}

.sidebar-heading-text {
  display: flex;
  align-items: center;
}

.sidebar-heading-text-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.sidebar-heading-icon {
  padding-right: 1rem;
  border: 1px solid red;
}

/* COLLAPSIBLE-MENU-HEADING-START */

.collapsible-menu label {
  cursor: pointer;
  padding: 0.7rem 0.7rem 0.7rem 0rem;
  border: 1px solid red;
}

.collapsible-menu .label-no-padding {
  padding: 0;
}

.collapsible-menu-content {
  max-height: 0; /* Menu hidden by default */
  overflow: hidden;
}

.collapsible-menu-content ul {
  /* padding: 1rem 0; */
}

.collapsible-menu-content li {
  padding: 1rem 0 1rem 6.2rem;
  transition: 0.4s;
  cursor: pointer;
  border: 1px solid blue;
}

.collapsible-menu-content li:hover {
  background-color: #E5E5E5;
}

.collapsible-menu-content a {
  text-decoration: none;
  color: darkgrey;
  border: 1px solid red;
}

.collapsible-menu-content a:hover {
  color: black;
}

input#menu, input#menu-two, input#menu-three, input#menu-four {
  display: none; /* Hide checkbox from user */
}

input:checked +label {
  transform: rotate(180deg); /* Rotate icon when heading is clicked. */
}

input:checked ~ .collapsible-menu-content {
  max-height: 100%; /* Show dropdown when heading is clicked. */
}

.collapsible-menu .sidebar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border: 1px solid red;
  transition: 0.4s;
  cursor: pointer;
}

/* COLLAPSIBLE-MENU-HEADING-END */

/* COLLAPSIBLE-MENU-ITEMS-START */
/* COLLAPSIBLE-MENU-ITEMS-END */

input:checked ~ .sidebar-heading .collapsible-menu-icon {
  transform: rotate(180deg);
}

.collapsible-menu .sidebar-heading .sidebar-heading-text {
  width: 100%;
  border: 1px solid lightblue;
}

.collapsible-menu .collapsible-menu-icon {
  background: url(../img/menu-down.png) no-repeat center;
  background-size: 1.5rem;
  padding: 1rem;
  border: 1px solid red;
  transition: 0.4s;
}

/* button:clicked */
input:checked ~ .collapsible-menu-icon {
  /* background-image: url(../img/menu-up.png); */
  transform: rotate(180deg);
}

/* MAIN-BODY-CONTENT */

.main-body-content {
  width: 67%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

/* MAIN-BODY-CONTENT-PROFILE */

.main-body-content-profile {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}

.main-body-content-profile-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  color: var(--color-background);
}

.main-body-content-profile-image-icon {
  height: 85%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-background);
}

.main-body-content-profile-image-button {
  height: 15%;
  width: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-body-content-profile-image-button button {
  height: 100%;
  background-color: var(--color-darkblue);
  color: var(--color-background);
}

.main-body-content-profile-info {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 3.8rem;
}

.main-body-content-profile-info-update {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main-body-content-profile-info-update button {
  border: 2px solid var(--color-background);
  background-color: var(--color-darkblue);
  color: var(--color-background);
  padding: 0.5rem 2rem;
}

.main-body-content-profile-info-address {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.main-body-content-profile-info-address p {
  padding: 0.2rem 0;
}

.main-body-content-profile-info-contact {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
}

.main-body-content-profile-info-contact-item {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.main-body-content-profile-info-contact-item p {
  padding: 0.2rem 0;
}

/* MAIN-BODY-CONTENT-EVENTS */

.main-body-content-events {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.main-body-content-event {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}

.main-body-content-event-countdown {
  border: 1px solid red;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-darkblue);
  padding: 3rem 0;
}

.main-body-content-event-countdown p {
  padding: 0.3rem 0;
}

.main-body-content-event-info {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.main-body-content-event-info-details {
  border: 1px solid red;
}

.main-body-content-event-info-details p {
  padding: 0.3rem;
}

.main-body-content-event-info-links {
  border: 1px solid red;
  padding: 1rem 0.3rem;
}

.main-body-content-event-info-links a {
  padding-right: 2rem;
}

.main-body-content-event-info-edit {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.main-body-content-event-info-edit-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lightgreen);
  border: 2px solid var(--color-darkgreen);
  padding: 0.5rem;
}

.main-body-content-event-info-edit button {
  border: 1px solid red;
  padding: 0.5rem 2rem;
  background-color: var(--color-darkgreen);
  color: var(--color-background);
  margin-left: auto;
}

/* MAIN-BODY-CONTENT-PURCHASES */

.main-body-content-purchases {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid red;
  border-bottom: 2px solid var(--color-darkblue);
  padding: 1rem;
}

.main-body-content-purchases-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid red;
  padding: 0.5rem;
  width: 33%;
}

.main-body-content-purchases-item img {
  width: 100%;
}

.main-body-content-purchases-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
}

.main-body-content-purchases-item-text p {
  padding: 1rem 0;
  border: 1px solid blue;
}

.main-body-content-purchases-item-options {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}

.main-body-content-purchases-item-options-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.3rem;
  border: 2px solid lightgrey;
  margin-right: 1rem;
}

.main-body-content-purchases-item-purchase {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.main-body-content-purchases-item-purchase button {
  color: var(--color-lightblue);
  font-weight: 700;
  flex-grow: 1;
  border: 2px solid var(--color-lightblue);
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darkblue);

  position: fixed;
  z-index: 5;
  max-width: inherit;
  height: 4rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid blue;
}

footer img {
  max-width: 10rem;
  border: 1px solid red;
}
