/* Colours */

:root {

  /* Colours */

  --color-background: #f9f9f9;
  --color-darkblue: #003479;
  --color-lightblue: #0d3e80;
  --color-darkgreen: #39823c;
  --color-lightgreen: #dff0d8;
  --color-red: #d43045;

  /* Screen Widths for Media Queries - sizes below from Bootstrap */
  /* TODO: why do these not work with media queries??? */

  --width-phone: 768px;
  --width-tablet: 992px;
  /* xs (for phones - screens less than 768px wide) */
  /* sm (for tablets - screens equal to or greater than 768px wide) */
  /* md (for small laptops - screens equal to or greater than 992px wide) */
  /* lg (for laptops and desktops - screens equal to or greater than 1200px wide) */
}

/* General Elements */

button {
  cursor: pointer;
  font-size: inherit;
}

a {
  color: var(--color-darkblue);
  text-decoration: underline;
  cursor: pointer;
}

/* Font Styles */

@font-face {
    font-family: VisbyCF;
    src: url("../font/VisbyCF-Bold.woff2");
}

@font-face {
    font-family: VisbyCF;
    src: url("../font/VisbyCF-Heavy.woff2");
    font-weight: bold;
}

html {
  font-family: 'VisbyCF', Arial, sans-serif;
  font-size: 10px;
  font-weight: 300;
  background-color: var(--color-background);
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

b { font-weight: 700; }

.bold { font-weight: 700; }

.text-white { color: var(--color-background); }

.text-white-large {
  color: var(--color-background);
  font-size: 3rem;
}

.text-strikethrough { text-decoration: line-through;}

.blue-line-top {
  font-size: 0.5rem;
  color: var(--color-background);
  border-top: 2px solid var(--color-darkblue);
  width: 2rem;
}

.container-960px {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .container-960px {
    flex-direction: column;
  }
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgrey;

  position: fixed;
  z-index: 10;
  max-width: inherit;
  height: 4rem;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
}

.container-960px-header {
  width: 960px;
  margin: 0rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-960px-header img {
  max-width: 10rem;
  margin: 0rem 2rem;
}

header .header-items {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}

header .header-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  header .header-item {
    flex-direction: column;
    justify-content: space-between;
  }
}

header .header-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 992px) {
  header .header-item .header-item-text {
    align-items: center;
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  header .header-item .header-item-text {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  header .header-item-text-desktop {
    display: none;
  }
}

header .header-item-text-tablet {
  display: none;
}

@media only screen and (max-width: 992px) {
  header .header-item-text-tablet {
    display: block;
  }
}

header button {
  margin-left: 1rem;
  padding: 0.7rem 2.5rem;
  background-color: var(--color-red);
  color: var(--color-background);
}

@media only screen and (max-width: 768px) {
  header button {
    padding: 0.7rem 1.5rem;
  }
}

/* MAIN-CONTAINER */

.main-banner {
  background-color: var(--color-darkblue);
  height: 12rem;
  position: relative;
}

.main-body {
  z-index: 3;
  position: relative;
  top: -7rem;
}

/* MAIN-BODY-SIDEBAR */

.main-body-sidebar {
  width: 33%;
  margin: 0rem 2rem;
}

@media only screen and (max-width: 992px) {
  .main-body-sidebar {
    width: auto;
  }
}

.main-body-sidebar button {
  width: 100%;
  background-color: white;
}

.sidebar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  transition: 0.4s;
  cursor: pointer;
}

.sidebar-heading:hover {
  background-color: #E5E5E5;
  color: var(--color-lightblue);
}

.sidebar-heading-text {
  display: flex;
  align-items: center;
}

.sidebar-heading-text-title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.sidebar-heading-icon {
  padding-right: 1rem;
}

/* COLLAPSIBLE-MENU-HEADING-START */

.collapsible-menu:last-child {
  border-bottom: 2px solid lightgrey;
}

.collapsible-menu label {
  cursor: pointer;
  padding: 0.7rem 0.7rem 0.7rem 0rem;
}

.collapsible-menu .label-no-padding {
  padding: 0;
}

.collapsible-menu-content {
  max-height: 0; /* Menu hidden by default */
  overflow: hidden;
  background-color: white;
}

.collapsible-menu-content li {
  padding: 1rem 0 1rem 6.2rem;
  transition: 0.4s;
  cursor: pointer;
}

.collapsible-menu-content li:hover {
  background-color: #E5E5E5;
}

.collapsible-menu-content a {
  text-decoration: none;
  color: darkgrey;
}

.collapsible-menu-content a:hover {
  color: black;
}

input#menu, input#menu-two, input#menu-three, input#menu-four {
  display: none; /* Hide checkbox from user */
}

input:checked +label {
  transform: rotate(180deg); /* Rotate icon when heading is clicked. */
}

input:checked ~ .collapsible-menu-content {
  max-height: 100%; /* Show dropdown when heading is clicked. */
}

.collapsible-menu .sidebar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 2rem;
  transition: 0.4s;
  cursor: pointer;
}

input:checked +.sidebar-heading {
  color: var(--color-lightblue);
  border-left: 2px solid var(--color-lightblue);
}

.collapsible-menu .sidebar-heading .sidebar-heading-text {
  width: 100%;
}

.collapsible-menu .collapsible-menu-icon {
  background: url(../img/menu-down.png) no-repeat center;
  background-size: 1.5rem;
  padding: 1rem;
  transition: 0.4s;
}

input:checked ~ .sidebar-heading .collapsible-menu-icon {
  transform: rotate(180deg);
}

/* COLLAPSIBLE-MENU-HEADING-END */

/* MAIN-BODY-CONTENT */

.main-body-content {
  width: 67%;
  margin: 0rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 992px) {
  .main-body-content {
    width: auto;
    margin-top: 2rem;
  }
}

/* MAIN-BODY-CONTENT-PROFILE */

.main-body-content-profile {
  display: flex;
  flex-direction: row;
}

.main-body-content-profile-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  color: var(--color-background);
}

@media only screen and (max-width: 992px) {
  .main-body-content-profile-image {
    width: 15rem;
  }
}

.main-body-content-profile-image-icon {
  height: 85%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-background);
}

.main-body-content-profile-image-button {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-body-content-profile-image-button button {
  height: 100%;
  background-color: var(--color-darkblue);
  color: var(--color-background);
}

.main-body-content-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 75%;
  margin-top: 3.8rem;
  padding: 0rem 0rem 0rem 0.5rem;
}

@media only screen and (max-width: 992px) {
  .main-body-content-profile-info {
    margin-top: 0rem;
    width: 70%;
  }
}

.main-body-content-profile-info-update {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .main-body-content-profile-info-update {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 992px) {
  .main-body-content-profile-info-update p {
    color: black;
  }
}

.main-body-content-profile-info-update button {
  border: 2px solid var(--color-background);
  background-color: var(--color-darkblue);
  color: var(--color-background);
  padding: 0.5rem 2rem;
}

@media only screen and (max-width: 992px) {
  .main-body-content-profile-info-update #update-button-desktop {
    display: none;
  }
}

.main-body-content-profile-info-address {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.main-body-content-profile-info-address p {
  padding: 0.2rem 0;
}

.main-body-content-profile-info-contact {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
}

@media only screen and (max-width: 768px) {
  .main-body-content-profile-info-contact {
    flex-direction: column;
  }
}

.main-body-content-profile-info-contact-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 0.5rem;
}

.main-body-content-profile-info-contact-item p {
  padding: 0.2rem 0;
}

.main-body-content-profile-info-update #update-button-tablet {
  display: none;
}

@media only screen and (max-width: 992px) {
  .main-body-content-profile-info-update #update-button-tablet {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
    border: none;
  }
}

/* MAIN-BODY-CONTENT-EVENTS */

.main-body-content-events {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.main-body-content-event {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.main-body-content-event-countdown {
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-darkblue);
  padding: 3rem 0;
}

@media only screen and (max-width: 992px) {
  .main-body-content-event-countdown {
    width: 15rem;
  }
}

.main-body-content-event-countdown p {
  padding: 0.3rem 0;
}

.main-body-content-event-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 992px) {
  .main-body-content-event-info {
    width: 70%;
  }
}

.main-body-content-event-info-details p {
  padding: 0.3rem 0rem;
}

.main-body-content-event-info-links {
  padding: 1rem 0rem;
}

.main-body-content-event-info-links a {
  padding-right: 2rem;
}

.main-body-content-event-info-edit {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .main-body-content-event-info-edit {
    flex-direction: column;
  }
}

.main-body-content-event-info-edit-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lightgreen);
  border: 2px solid var(--color-darkgreen);
  padding: 0.5rem;
}

@media only screen and (max-width: 992px) {
  .main-body-content-event-info-edit-box {
    display: block;
    width: auto;
    margin-top: 0.5rem;
  }
}

.main-body-content-event-info-edit button {
  padding: 0.5rem 2rem;
  background-color: var(--color-darkgreen);
  color: var(--color-background);
  margin-left: auto;
}

@media only screen and (max-width: 992px) {
  .main-body-content-event-info-edit button {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
  }
}

/* MAIN-BODY-CONTENT-PURCHASES */

.main-body-content-purchases {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  border: 2px solid lightgrey;
  border-bottom: 3px solid var(--color-darkblue);
  padding: 2rem;
}

@media only screen and (max-width: 768px) {
  .main-body-content-purchases {
    flex-direction: column;
    align-items: center;
  }
}

.main-body-content-purchases-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  width: 33%;
}

@media only screen and (max-width: 768px) {
  .main-body-content-purchases-item {
    width: 75%;
    margin-bottom: 1rem;
  }
}

.main-body-content-purchases-item img {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .main-body-content-purchases-item img {
    width: 75%;
    align-self: center;
  }
}

.main-body-content-purchases-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-body-content-purchases-item-text p {
  padding: 1rem 0;
}

.main-body-content-purchases-item-options {
  display: flex;
  flex-direction: row;
}

.main-body-content-purchases-item-options-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.3rem;
  border: 2px solid lightgrey;
  margin-right: 1rem;
}

.main-body-content-purchases-item-purchase {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.main-body-content-purchases-item-purchase button {
  color: var(--color-lightblue);
  font-weight: 700;
  flex-grow: 1;
  border: 2px solid var(--color-lightblue);
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darkblue);
  border-top: 1px solid lightgrey;

  z-index: 10;
  max-width: inherit;
  height: 4rem;
  position: relative;
  padding-bottom: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-960px-footer {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-960px-footer img {
  margin: 0rem 2rem;
  max-width: 10rem;
}
